<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>$(BACKGROUND_REFRESH_TASK_IDENTIFIER)</string>
		<string>$(PRODUCT_BUNDLE_IDENTIFIER).articleProcessing</string>
	</array>
	<key>BackgroundProcessingTaskIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER).articleProcessing</string>
	<key>BackgroundRefreshTaskIdentifier</key>
	<string>$(BACKGROUND_REFRESH_TASK_IDENTIFIER)</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleVersion</key>
	<string>14</string>
	<key>KeychainService</key>
	<string>$(KEYCHAIN_SERVICE)</string>
	<key>MobileDefaultServerURL</key>
	<string>$(MOBILE_DEFAULT_SERVER_URL)</string>
	<key>MobileOAuthClientId</key>
	<string>$(MOBILE_OAUTH_CLIENT_ID)</string>
	<key>MobileOAuthClientName</key>
	<string>$(MOBILE_OAUTH_CLIENT_NAME)</string>
	<key>MobileOAuthRedirectURI</key>
	<string>$(MOBILE_OAUTH_REDIRECT_URI)</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
		<string>processing</string>
	</array>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
